@font-face {
    font-family: "Effra-light";
    src: url('../fonts/Effra_Lt.ttf');
}
@font-face {
    font-family: "Effra-medium";
    src: url('../fonts/Effra_MdIt.ttf');
}

section {
  height: 100vh;
  font-family: 'Effra-light', sans-serif;
  color: #002039;
  font-size: 10.3pt;
  font-style: normal;
  overflow: hidden;
}

.kastner {
  position: relative;
  top: 50%;
  transform: translateY(-20%);
}

.kastner__logo {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 230px;
  margin-bottom: 28px;
}

.kastner__logo img {
  display: inline-block;
  margin: 0 auto;
}

@media (min-width: 1441px) {
  .kastner__logo img {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .kastner__logo {
    padding: 0 190px;
  }
}

@media (max-width: 768px) {
  .kastner__logo {
    padding: 0 135px;
  }
}

@media (max-width: 576px) {
  .kastner__logo {
    padding: 0 70px;
  }
}

@media (max-width: 360px) {
  .kastner__logo {
    padding: 0 20px;
  }
}

.kastner__link a {
  display: block;
  color: 	#002039;
}

.kastner__link a:hover {
  text-decoration: none;
}

@media (max-width: 556px) {
  .kastner__link a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 109px
  }
}

@media (max-width: 375px) {
  .kastner__link a {
    height: 131px
  }
}

@media (max-width: 320px) {
  .kastner__link a {
    height: 151px
  }
}

.kastner__link:hover .kastner__link--item {
  color: #ec3b5b;
  transition: all .1s linear;
}

@media (max-width: 768px) {
  .kastner__link p {
    height: 61.78px;
  }
}

@media (max-width: 409px) {
  .kastner__link p {
    height: 82.38px;
  }
}

.kastner__link--left {
    padding-right: 38px;
    text-align: right;
}

.kastner__link--right {
    padding-left: 0;
    margin-left: -14px;
}

@media (max-width: 1440px) {
  .kastner__link--left {
    padding-right: 29px;
  }
  .kastner__link--right {
    margin-left: -12px;
  }
}

@media (max-width: 1200px) {
  .kastner__link--left {
    padding-right: 25px;
  }
  .kastner__link--right {
    margin-left: -9px;
  }
}

@media (max-width: 1100px) {
  .kastner__link--left {
    padding-right: 21px;
  }
  .kastner__link--right {
    margin-left: -7px;
  }
}

@media (max-width: 992px) {
  .kastner__link--left {
    padding-right: 20px;
  }
  .kastner__link--right {
    margin-left: -8px;
  }
}

@media (max-width: 576px) {
  .kastner__link--left {
    padding-right: 14px;
    padding-left: 19px;
  }
  .kastner__link--right {
    margin-left: -5px;
    padding-right: 22px;
  }
}

.kastner__link--item {
  display: block;
  padding: 28px 2px 0 2px; 
  font-family: 'Effra-medium', sans-serif;
  color: 	#002039;
}

.kastner__link--item span {
    position: relative;
    top: 1px;
}

.kastner__link--item:hover,
.kastner__link--item:active {
    color: #ec3b5b;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s linear;
}

.slide-in-bottom {
	-webkit-animation: 1s slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: 1s slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-18 14:49:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(100vh);
              transform: translateY(100vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  